.around-wrapper {
    width: 80%;
    margin: 0 auto;
}


.head-word h3{
 display: flex;
 justify-content: center;
 font-weight: 700;
 font-size: 50px;
}
.cir{
    background-color: #fdf6ee;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    z-index: -20;
    transform: translate(60vw, -160px);
    margin:0;
    position: absolute;
}
.about-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}
@media(max-width:500px){
    .about-cards{
        flex-direction: column;
    }
    .bottom-row{
        flex-direction: column;
    }
    .cir{
        visibility: hidden;
    }
    .head-word h3{
        margin: 0px auto;
        font-size:40px;
    }
}

@media screen and (max-width: 1200px) {
    .around-wrapper 
    {
        width: 100%;
    }
}

