.card{
    z-index: 0;
    width: 30%;
    background-image: url('../../photos/card1.png');
    background-position: center;
    background-size: cover;
    height: 400px;
}

.card .card-body
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.card-body h5 {
    display: block;
}

.card-link a{
    color: white;
}
.card-link a:hover{
    color: gray;
}

@media screen and (max-width: 1200px)
{
    .card {
        width: 33%;
    }
}

@media screen and (max-width: 990px)
{
    .card {
        margin: 20px;
        width: 50%;
    }
}

@media screen and (max-width: 600px)
{
    .card {
        margin: 20px;
        width: 70%;
    }
}