.Slide{
    background-image:url("../../photos/Group11.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-text{
    margin-left: 200px;
    padding: 100px;
    font-size: 150%;
}
.main-text h2{
    font-weight: 700;
    color: #fcd1a9;
    font-size: 150%;
    padding: 15px;
}
.main-text h4{
    font-size:14px;
    padding-left: 4px;
    font-weight: 600;
    color: rgb(155, 155, 155);
    font-size: 100%;
    padding: 10px;
}
button{
background-color:#ffc178;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 60px;
  transition: 0.5s;
}
button:hover{
    color:black;
    background-color:#fc7a00;
}
@media(max-width:500px){
    .main-text h2{
        color:#fc7a00;
        font-size: 20px;
    }
    .main-text h4{
        color: #8f1414;
    }
    .main-text {
        padding: 10px 10px;
    }
    button{
        background-color: #fc7a00;
    }
}

@media screen and (max-width: 1600px)
{
    .main-text{
        margin-left: 100px;
        padding: 100px;
    }
    .main-text h2{
        font-size: 130%;
        padding: 15px;
    }
    .main-text h4{
        font-size: 85%;
        padding: 10px;
    }
}

@media screen and (max-width: 1200px)
{
    .main-text{
        margin-left: 50px;
        padding: 70px;
    }
    .main-text h2{
        font-size: 120%;
        padding: 15px;
    }
    .main-text h4{
        font-size: 85%;
        padding: 10px;
    }
}